openapi: 3.0.0
info:
  title: Binance API - Dashboard Integration
  description: API documentation for Binance data integration in the cryptocurrency dashboard.
  version: 1.0.0

servers:
  - url: https://api.binance.com
    description: Official Binance API Server

paths:
  /api/v3/ticker/price:
    get:
      summary: Get the latest price of a cryptocurrency
      description: Fetches the latest price for a specified trading pair.
      parameters:
        - name: symbol
          in: query
          required: true
          description: The trading pair symbol (e.g., BTCUSDT, ETHUSDT).
          schema:
            type: string
      responses:
        '200':
          description: Successful response with the latest price.
          content:
            application/json:
              schema:
                type: object
                properties:
                  symbol:
                    type: string
                    example: BTCUSDT
                  price:
                    type: string
                    example: "43200.50"
        '400':
          description: Invalid request (missing or incorrect symbol).
        '500':
          description: Internal server error.

  /api/v3/klines:
    get:
      summary: Get historical price data (candlestick chart)
      description: Fetches historical price data based on the selected timeframe.
      parameters:
        - name: symbol
          in: query
          required: true
          description: The trading pair symbol (e.g., BTCUSDT, ETHUSDT).
          schema:
            type: string
        - name: interval
          in: query
          required: true
          description: Time interval (1m, 5m, 1h, 1d, 1w, etc.).
          schema:
            type: string
        - name: limit
          in: query
          required: false
          description: Number of data points to return (default is 1000).
          schema:
            type: integer
      responses:
        '200':
          description: Successful response with historical price data.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: array
                  items:
                    type: string
        '400':
          description: Invalid request.
        '500':
          description: Internal server error.

components:
  schemas:
    PriceResponse:
      type: object
      properties:
        symbol:
          type: string
          example: BTCUSDT
        price:
          type: string
          example: "43200.50"

    KlineResponse:
      type: array
      items:
        type: array
        items:
          type: string
